<!--
<table id="costumer">
    <thead>
        <h2>Customers</h2>
    </thead>
    <tbody>
        <tr>
            <td>Nome:</td>
            <td>Everton</td>
        </tr>
        <tr>
            <td>Data de Nascimento:</td>
            <td>14/12/1993</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>everton.soares@senac.com</td>
        </tr>
    </tbody>
   
    
    <div *ngFor="let nome of nomes">
        <div>
            {{nome}}
        </div>
    </div>    
</table>

<div *ngFor="let costumer of costumers">
    <div class="container">
        <div id="name"> Nome
            <div>{{ costumer.nome }}</div>
            <div id="born"> Data de Nascimento
                <div>{{ costumer.dataNascimento }}</div>
            </div>
            <div id="email">
                <div>{{ costumer.email }}</div>
            </div>
        </div>
    </div>
</div>
-->

<!--dl *ngFor="let costumer of costumers">
    <dt id="name">Nome</dt>
    <dd>{{ costumer.nome }}</dd>
    
    <dt>Data de Nascimento</dt>
    <dd>{{ costumer.dataNascimento }}</dd>
    
    <dt id="email">Email</dt>
    <dd>{{ costumer.email }}</dd>
</dl -->



<div>
    <form #costumerForm="ngForm"
        (ngSubmit)="onSubmit(costumerForm, costumerName.value, costumerBorn.value, costumerEmail.value)">
        <label for="costumerName">Name</label>
        <input #costumerName="ngModel" ngModel name="costumerName" required placeholder="Costumer name">

        <label for="costumerBorn">Born Date</label>
        <input #costumerBorn="ngModel" ngModel name="costumerBorn" required placeholder="xx/xx/xxxx">

        <label for="costumerEmail">E-mail</label>
        <input #costumerEmail="ngModel" ngModel name="costumerEmail" type="text" required placeholder="e-mail">

        <button type="submit" [disabled]="!costumerForm.valid">Submit</button>
    </form>
    {{costumerName.value}}
    {{costumerBorn.value}}
    {{costumerEmail.value}}
</div>

<div *ngFor="let customer of customers">
    <h3>
        <a [title]="customer.name + ' details'"> {{ customer.name }} </a>
    </h3>
    <p *ngIf="customer.email">
        Email: {{ customer.email }}
    </p>
</div>

<!--div [style.display]="isSpecial ? 'block' : 'none'">Show with style</div>
<div [style.display]="isSpecial ? 'none'  : 'block'">Hide with style</div-->

