<!--
<table id="customer">
    <thead>
        <h2>Customers</h2>
    </thead>
    <tbody>
        <tr>
            <td>Nome:</td>
            <td>Everton</td>
        </tr>
        <tr>
            <td>Data de Nascimento:</td>
            <td>14/12/1993</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>everton.soares@senac.com</td>
        </tr>
    </tbody>
   
    
    <div *ngFor="let nome of nomes">
        <div>
            {{nome}}
        </div>
    </div>    
</table>

<div *ngFor="let customer of customers">
    <div class="container">
        <div id="name"> Nome
            <div>{{ customer.nome }}</div>
            <div id="born"> Data de Nascimento
                <div>{{ customer.dataNascimento }}</div>
            </div>
            <div id="email">
                <div>{{ customer.email }}</div>
            </div>
        </div>
    </div>
</div>
-->

<!--dl *ngFor="let customer of customers">
    <dt id="name">Nome</dt>
    <dd>{{ customer.nome }}</dd>
    
    <dt>Data de Nascimento</dt>
    <dd>{{ customer.dataNascimento }}</dd>
    
    <dt id="email">Email</dt>
    <dd>{{ customer.email }}</dd>
</dl -->



<div>
    <form #customerForm="ngForm"
        (ngSubmit)="onSubmit(customerForm)">
        <label for="customerName">Name</label>
        <input #customerName="ngModel" [(ngModel)] = "newCustomer.name" name="customerName" required placeholder="customer name">

        <label for="customerBorn">Born Date</label>
        <input #customerBorn="ngModel" [(ngModel)] = "newCustomer.bornDate" name="customerBorn" pattern="[0-9]+$" minlength="8" maxlength="8" required placeholder="dd/mm/yyyy Numbers Only">

        <label for="customerEmail">E-mail</label>
        <input #customerEmail="ngModel" [(ngModel)] ="newCustomer.email" name="customerEmail" type="text" pattern = "[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="e-mail">

        <button type="submit" [disabled]="!customerForm.valid">Submit</button>
    </form>
    {{customerName.value}}
    {{customerBorn.value}}
    {{customerEmail.value}}
</div>

<div *ngFor="let customer of customerList">
    <h3>
        <a title="{{ customer.name }} + details"> {{ customer.name }} </a>
    </h3>
    <p *ngIf="customer.email">
        Email: {{ customer.email }}
    </p>
</div>

<!--div [style.display]="isSpecial ? 'block' : 'none'">Show with style</div>
<div [style.display]="isSpecial ? 'none'  : 'block'">Hide with style</div-->

