.top-bar-link {
    color: white;
    margin-right: 3em;
}

.container {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin-left: auto;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/